<!-- todos.component.html -->
<main>
    <h1>Our todo list</h1>
    <button (click)="createTodo()">+ New</button>
    <ul>
        <li 
            *ngFor="let todo of todos;" (click)="deleteTodo(todo.id)">
            {{ todo.content }}
        </li>
    </ul>
    <div>
        🥳 App successfully hosted. Try creating a new item in todo.
        <br />
        <a href="https://docs.amplify.aws/gen2/start/quickstart/">
            Review next steps of this tutorial.
        </a>
    </div>
</main>
